@import "bourbon/bourbon";
@import "vars";
@import "mixins";
@import "patterns";
@import "prototype-modules";
@import "../bower_components/angular-carousel/src/css/angular-carousel";

// UTILITIES
.fixed{
  position: fixed;
}

.sans-serif{
  font-family: $sans-serif;
}

h1,h2,h3,h4,h5,h6{ 
  &.sans-serif{
    font-weight: bold;
  }
}

%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

// **************** CAROUSEL ****************

.rn-carousel-container{
  ul{
    li{
      position: relative;
      width: 100%;
      @include maintain-ratio(4 3);
      background-size: cover;
      .gradient{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include background-image(linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.25) 60%, rgba(0,0,0,.8) 90%, rgba(0,0,0,1)));
      }
    }
  }
  .deal-info{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: $spacing;
    width: 100%;
  }
  .logo-wrapper{
    width: 25%;
    float: left;
  }
  .brand-logo{
    @include maintain-ratio(1 1);
    background: white;
    text-align: center;
    border-radius: $radius;
    img{
      @extend %vertical-align;
      padding: $spacing/2;
    }
  }
  .deal-details{
    float: left;
    width: 75%;
    height: 100%;
    padding-left: $spacing;
    h2, p{
      color: white;
    }
    h2.h4{
      margin-bottom: .25em;;
    }
    p{
      font-weight: bold;
      text-transform: capitalize;
      margin: 0;
    }
  }
}

.placeholder{
  background: $light-purple;
  width: 100%;
  height: 300px;
}