#carousel-1.rn-carousel-container{
  ul{
    li{
      position: relative;
      width: 100%;
      @include maintain-ratio(4 3);
      background-size: cover;
      .gradient{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include background-image(linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.25) 60%, rgba(0,0,0,.8) 90%, rgba(0,0,0,1)));
      }
    }
  }
  .deal-info-area{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: $spacing;
    width: 100%;
  }

  .brand-logo{
    img{
      padding: $spacing/2;
    }
  }
  .deal-details{
    width: 75%;
  }
  .logo-wrapper{
    width:25%;
  }
  .deal-details{
    h2, p{
      color: white;
    }
    h2.h4{
      margin-bottom: .25em;;
    }
    p{
      font-weight: bold;
      text-transform: capitalize;
      margin: 0;
    }
  }
}

#carousel-2.rn-carousel-container{
  padding: $spacing/2;
  margin: auto;
  ul{
    width: 100%;
    position: relative;
    li{
      width: 100%;
      padding: $spacing;
      border: 1px solid $light-gray;
      background: $white;
      z-index: 5;
    }
  }
  .logo-wrapper{
    width: 25%;
  }
  .favorite-icon-container{
    width: 30%;
    float: right;
    text-align: right;
    padding-left: 1em;
    img{
      display: block;
    }
    input[type=checkbox]{
      position: absolute;
      left: -99999px;
      &:checked {
        + label.heart-circle .filler {
          width: 100%;
          height: 100%;
        }
        + label.x-circle {
          background-color: #8C8C82;
          background-image: url(../../images/white-x.svg);
        }
      }
    }
  }

  .heart-circle, .x-circle{
    width: 100%;
    @include maintain-ratio(1 1);
    border-radius: 100%;
  }
  .heart-circle{
    width: 100%;
    @include maintain-ratio(1 1);
    border: 2px solid #E8474A;
    border-radius: 100%;
    position: relative;
    // &:hover .filler{
    //   width: 100%;
    //   height: 100%;
    // }
    img{
      width: 50%;
      @extend %absolute-center;
      z-index: 2;
    }
    .filler{
      width: 0%;
      height: 0%;
      background: #E8474A;
      border-radius: 100%;
      @extend %absolute-center;
      transition: all 600ms ease-in-out;
    }
  }
  .x-circle{
    border: 2px solid #8C8C82;
    background: white;
    background-image: url(../../images/gray-x.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center center;
  }
}