<section class="shopping-query">
  <div class="container padded-container">
    <h1 class="centered h1 sans-serif">Where are you shopping today?</h1>
    <ul class="shopping-locations grid-row-col-1" ng-hide="isShoppingQueryHidden" >
      <li class="grid-unit centered"><a>in store now</a></li>
      <li class="grid-unit centered"><a>online</a></li>
      <li class="grid-unit centered"><a>preparing to shop</a></li>
    </ul>
  </div>
  <div class="toggle-content centered" ng-click="isShoppingQueryHidden = !isShoppingQueryHidden" ng-hide="isShoppingQueryHidden">Hide <span>&#9650;</span></div>
  <div class="toggle-content centered" ng-click="isShoppingQueryHidden = !isShoppingQueryHidden" ng-show="isShoppingQueryHidden">Edit <span>&#x25BC;</span></div>
</section>

<section class="carousel" ng-controller = "CarouselCtrl">
  <ul class="image" rn-carousel rn-carousel-indicator='true'>
    <li ng-repeat="deal in carouselDeals" ng-style="{ 'background-image': 'url(' + deal.bgImage + ')' }">
      <div class="gradient"></div>
      <div class="deal-info clearfix">
        <div class="logo-wrapper">
          <div class="brand-logo">
            <img ng-src="{{deal.logo}}" alt="">
          </div>
        </div>

        <div class="deal-details">
          <h2 class="h4 sans-serif">{{deal.offer}}</h3>
          <p>{{deal.brand}} {{deal.location}} Offer</p>
        </div>
      </div>
    </li>
  </ul>
</section>

<!-- <section class="deal-section" id="popular">
  <div class="container">
    <h1 class="h1 sans-serif">Popular Top Deals</h1>
    <h4 class="h4 sans-serif">Based on other RetailMeNot users</h4>
    <ul class="deals grid-row-col-1">
      <li class="clearfix grid-unit">
        <div class="logo-wrapper">
          <div class="brand-logo">
            <img src="images/merchant/victorias-secret-logo.jpg" alt="">
          </div>
        </div>
        <div class="deal-details">
          <div class="deal-type code">
            Coupon Code
          </div>
          <div class="deal-info small-header">
            <span>Victoria's Secret -</span> Up to $150 Off Online Orders
          </div>
          <div class="expiration">
            Ends December 31
          </div>
          <div class="popularity">
            138 People Used Today
          </div>
        </div>
      </li>
    </ul> -->

    <div class="value-prop double">
      <div class="top clearfix">
        <div class="icon-area">
          <img src="images/map-marker.svg" alt="">
        </div>
        <div class="text-area">
          <div class="small-header">We Can't Find You</div>
          <div class="small-sub-header">Turn on location to get nearby offers</div>
        </div>
        <div class="chevron">
          <img src="images/chevron.svg" alt="">
        </div>
      </div>

      <div class="bottom clearfix">
        <div class="icon-area">
          <img src="images/phone-outline.svg" alt="">
        </div>
        <div class="text-area">
          <div class="small-header">Download our FREE app!</div>
          <div class="small-sub-header">Get notified about nearby offers</div>
        </div>
        <div class="chevron">
          <img src="images/chevron.svg" alt="">
        </div>
      </div>
      <div class="or-circle">OR</div>
    </div>
  </div>
  
</section>


