<section class="shopping-query" ng-hide="isShoppingQueryHidden">
  <div class="container padded-container">
    <h1 class="centered h1 sans-serif">Where are you shopping today?</h1>
    <ul class="shopping-locations grid-row-col-1">
      <li class="grid-unit centered"><a href="#">in store now</a></li>
      <li class="grid-unit centered"><a href="#">online</a></li>
      <li class="grid-unit centered"><a href="#">preparing to shop</a></li>
    </ul>
  </div>
  <div class="hide-content centered" ng-click="isShoppingQueryHidden = true">Hide <span>&#9650;</span></div>
  
</section>