<section class="shopping-query">
  <div class="container padded-container">
    <h1 class="centered h1 sans-serif">Where are you shopping?</h1>
    <ul class="shopping-locations grid-row-col-1" ng-hide="isShoppingQueryHidden" >
      <li class="grid-unit centered"><a>in store now</a></li>
      <li class="grid-unit centered"><a>online</a></li>
      <li class="grid-unit centered"><a>preparing to shop</a></li>
    </ul>
  </div>
  <div class="toggle-content centered" ng-click="isShoppingQueryHidden = !isShoppingQueryHidden" ng-hide="isShoppingQueryHidden">Hide <span>&#9650;</span></div>
  <div class="toggle-content centered" ng-click="isShoppingQueryHidden = !isShoppingQueryHidden" ng-show="isShoppingQueryHidden">Edit <span>&#x25BC;</span></div>
</section>

<section class="carousel" ng-controller = "CarouselCtrl">
  <ul class="image deal-carousel" rn-carousel rn-carousel-index="deals">
    <li ng-repeat="deal in carouselDeals">
      <!-- <div class="carousel-content" ng-style="{ 'background-image': 'url(' + deal.bgImage + ')' }">
        <div class="gradient"></div>
        
        <div class="deal-info-area clearfix">
          <div class="logo-wrapper">
            <div class="brand-logo">
              <img ng-src="{{deal.logo}}" alt="">
            </div>
          </div>

          <div class="deal-details">
            <h2 class="h4 sans-serif">{{deal.offer}}</h3>
            <p>{{deal.brand}} {{deal.location}} Offer</p>
          </div>
        </div>
      </div> -->
      
      <div class="carousel-content" ng-style="{ 'background-image': 'url(' + deal.bgImage + ')' }">
        <div class="gradient"></div>

        <div class="deal-info-area clearfix">
          <div class="logo-wrapper">
            <div class="brand-logo">
              <img ng-src="{{deal.logo}}" alt="">
            </div>
          </div>

          <div class="deal-details">
            <h2 class="h4 sans-serif">{{deal.offer}}</h3>
            <p>{{deal.brand}} {{deal.location}} Offer</p>
          </div>
        </div>

      </div>

      
    </li>
  </ul>
  <div rn-carousel-indicators ng-if="carouselDeals.length > 1" slides="carouselDeals" rn-carousel-index="deals"></div>
</section>

<section class="deal-section padded gray" id="popular">
  <div class="container">
    <h1 class="h1 sans-serif">Popular Top Deals</h1>
    <h4 class="h4 sans-serif minor">Based on other RetailMeNot users</h4>
    <ul class="deals grid-row-col-1">
      <li class="clearfix grid-unit">
        <div class="logo-wrapper">
          <div class="brand-logo">
            <img src="images/merchant/victorias-secret-logo.jpg" alt="">
          </div>
        </div>
        <div class="deal-details">
          <div class="deal-type code">
            Coupon Code
          </div>
          <div class="deal-info-area small-header">
            <span>Victoria's Secret -</span> Up to $150 Off Online Orders
          </div>
          <div class="expiration">
            Ends December 31
          </div>
          <div class="popularity">
            138 People Used Today
          </div>
        </div>
      </li>
    </ul>

    <div class="value-prop double">
      <img src="images/location-prop.svg" alt="">
      <!-- Removed old code and repplaced with image because I couldn't get centering to work and didn't have time to fix it -->
      <!-- <div class="top clearfix">
        <div class="icon-area">
          <img src="images/map-marker.svg" alt="">
        </div>
        <div class="text-area">
          <div class="small-header">We Can't Find You</div>
          <div class="small-sub-header">Turn on location to get nearby offers</div>
        </div>
        <div class="chevron">
          <img src="images/chevron.svg" alt="">
        </div>
      </div>

      <div class="bottom clearfix">
        <div class="icon-area">
          <img src="images/phone-outline.svg" alt="">
        </div>
        <div class="text-area">
          <div class="small-header">Download our FREE app!</div>
          <div class="small-sub-header">Get notified about nearby offers</div>
        </div>
        <div class="chevron">
          <img src="images/chevron.svg" alt="">
        </div>
      </div>
      <div class="or-circle">OR</div>
    </div> -->
  </div>
  
</section>

<section class="carousel favoriting padded off-white" ng-controller="CarouselCtrl">
  <div class="container">
    <h1 class="h1 sans-serif centered">Fave More, Save More</h1>
    <h4 class="h4 sans-serif minor centered">Favoriting more stores saves you more
cash and makes this page even better!</h4>
  </div>
  
  <div class="container">
  <ul class="image wide-favorite" rn-carousel>
    <li ng-repeat="deal in carouselDeals">
      <div class="wide-favorite-card">
        <div class="deal-info-area clearfix">
          <div class="logo-wrapper">
            <div class="brand-logo">
              <img ng-src="{{deal.logo}}" alt="">
              <!-- <img src="images/merchant/victorias-secret-logo.jpg" alt=""> -->
            </div>
          </div>

          <div class="favorite-icon-container">
            <input type="radio" name="radio-{{deal.id}}" id="heart-{{deal.id}}" ng-click="delayNextSlide()">
            <label class="heart-circle" for="heart-{{deal.id}}">
              <img src="images/white-heart.svg" alt="">
              <div class="filler"></div>
            </label>
          </div>

          <div class="favorite-icon-container">
            <input type="radio" name="radio-{{deal.id}}" id="x-{{deal.id}}">
            <label class="x-circle" for="x-{{deal.id}}"></label>
          </div>
          
        </div>
        <div class="merchant-name-area">
         {{deal.brand}}
         <!-- Victoria's Secret -->
        </div>
      </div>
    </li>

  </ul>

  </div>
  
</section>

<section class="padded gray">
  <div class="container">
    <div class="value-prop clearfix">
      <div class="icon-area">
        <img src="images/coffee-cup.svg" alt="">
      </div>
      <div class="text-area">
        <div class="small-header">Still looking for deals?</div>
        <div class="small-sub-header">Try browsing our categories page</div>
      </div>
      <div class="chevron">
        <img src="images/chevron.svg" alt="">
      </div>
    </div>
  </div>
</section>

<section class="carousel favoriting padded off-white" ng-controller="CarouselCtrl">
  <div class="container">
    <h1 class="h1 sans-serif centered">Fave More, Save More</h1>
    <h4 class="h4 sans-serif minor centered">Favoriting more stores saves you more
cash and makes this page even better!</h4>
  </div>

  <div class="container">
    <ul class="image tall-favorite" rn-carousel>
      <li ng-repeat="deal in carouselDeals">
        <div class="merchant-wrapper">
          <div class="merchant-top" ng-style="{ 'background-image': 'url(' + deal.logo + ')' }">
            <div class="merchant-name centered">{{deal.brand}}</div>
          </div>
          <div class="merchant-bottom clearfix">
            <div class="divider x">
              <img src="images/gray-x.svg" alt="">
            </div>
            <div class="divider favorite" ng-click="isHeartActive = !isHeartActive">
              <img ng-hide="isHeartActive" src="images/white-heart.svg" alt="">
              <img ng-show="isHeartActive" src="images/red-heart.svg" alt="">
            </div>
          </div>
        </div>
      </li>

    </ul>
    
  </div>
</section>


