<section class="carousel gray" ng-controller = "CarouselCtrl">
  <ul class="image deal-carousel" rn-carousel rn-carousel-index="deals">
    <li ng-repeat="deal in carouselDeals">
      
      <div class="carousel-content" ng-style="{ 'background-image': 'url(' + deal.bgImage + ')' }">
        <div class="gradient"></div>

        <div class="deal-info-area clearfix">
          <div class="logo-wrapper">
            <div class="brand-logo">
              <img ng-src="{{deal.logo}}" alt="">
            </div>
          </div>

          <div class="deal-details">
            <h2 class="h4 sans-serif">{{deal.offer}}</h3>
            <p>{{deal.brand}} {{deal.location}} Offer</p>
          </div>
        </div>

      </div>

      
    </li>
  </ul>
  <div rn-carousel-indicators ng-if="carouselDeals.length > 1" slides="carouselDeals" rn-carousel-index="deals"></div>
</section>
<section class="deal-section padded gray" id="popular" ng-controller="DealsCtrl">
  <div class="container">
    <h1 class="h1 sans-serif">Popular Top Deals</h1>
    <h4 class="h4 sans-serif minor">Based on other RetailMeNot users</h4>

    <!-- DEAL CODE -->
    <ul class="deals grid-row-col-1">
      <li class="clearfix grid-unit" ng-repeat="deal in popularDeals = (deals | filter: {popular:true} | limitTo: popularLimit)">
        <a href="http://m.retailmenot.com/showcoupon/6270822">
        <!-- "deal in bestDeals = (deals | filter: typeFilter | filter: {best:true})" -->
        <div class="logo-wrapper">
          <div class="brand-logo">
            <img ng-src="{{deal.logo}}" alt="">
          </div>
        </div>
        <div class="deal-details">
          <div class="deal-type {{deal.type}}" ng-switch on="deal.type">
            <span ng-switch-when="code">Coupon Code</span>
            <span ng-switch-when="print">Printable Coupon</span>
            <span ng-switch-when="sale">Sale</span>
          </div>
          <div class="deal-info-area small-header">
            <span>{{deal.merchant}} -</span> {{deal.offer}}
          </div>
          <div class="expiration" ng-hide="!deal.expires">
            Ends {{deal.expires}}
          </div>
          <div class="popularity">
            {{deal.numberUsed}} People Used Today
          </div>
        </div>
        </a>
      </li>
    </ul>
    <div class="view-more" ng-click="popularLimit = popularLimit+4" ng-hide="popularLimit >= popularDeals.length">View More</div>
  </div>
</section>

<section class="carousel favoriting top-padded off-white" ng-controller="CarouselCtrl">
  <div class="container">
    <h1 class="h1 sans-serif centered">Fave More, Save More</h1>
    <h4 class="h4 sans-serif minor centered">Favoriting more stores saves you more
cash and makes this page even better!</h4>
  </div>
  

  <ul class="image wide-favorite" rn-carousel rn-carousel-controls>
    <li ng-repeat="deal in carouselDeals">
      <div class="wide-favorite-card">
        <div class="deal-info-area clearfix">
          <div class="logo-wrapper">
            <div class="brand-logo">
              <img ng-src="{{deal.logo}}" alt="">
              <!-- <img src="images/merchant/victorias-secret-logo.jpg" alt=""> -->
            </div>
          </div>

          <div class="favorite-icon-container">
            <input type="radio" name="radio-{{deal.id}}" id="heart-{{deal.id}}" ng-click="delayNextSlide()">
            <label class="heart-circle" for="heart-{{deal.id}}">
              <img src="images/white-heart.svg" alt="">
              <div class="filler"></div>
            </label>
          </div>

          <div class="favorite-icon-container">
            <input type="radio" name="radio-{{deal.id}}" id="x-{{deal.id}}">
            <label class="x-circle" for="x-{{deal.id}}"></label>
          </div>
          
        </div>
        <div class="merchant-name-area">
         {{deal.brand}}
         <!-- Victoria's Secret -->
        </div>
      </div>
    </li>

  </ul>

 
  
</section>

<section class="deal-section padded gray" id="nearby" ng-controller="DealsCtrl">

  <div class="value-prop double" ng-click="locationEnabled = true" ng-hide="locationEnabled">
      <img src="images/location-prop.svg" alt="">
      <!-- Removed old code and repplaced with image because I couldn't get centering to work and didn't have time to fix it -->
      <!-- <div class="top clearfix">
        <div class="icon-area">
          <img src="images/map-marker.svg" alt="">
        </div>
        <div class="text-area">
          <div class="small-header">We Can't Find You</div>
          <div class="small-sub-header">Turn on location to get nearby offers</div>
        </div>
        <div class="chevron">
          <img src="images/chevron.svg" alt="">
        </div>
      </div>

      <div class="bottom clearfix">
        <div class="icon-area">
          <img src="images/phone-outline.svg" alt="">
        </div>
        <div class="text-area">
          <div class="small-header">Download our FREE app!</div>
          <div class="small-sub-header">Get notified about nearby offers</div>
        </div>
        <div class="chevron">
          <img src="images/chevron.svg" alt="">
        </div>
      </div>
      <div class="or-circle">OR</div>
    </div> -->
  </div>

  <div class="container" ng-show="locationEnabled">
    <h1 class="h1 sans-serif">Deals Near You</h1>
    <h4 class="h4 sans-serif minor">Based on your current location</h4>

    <!-- DEAL CODE -->
    <ul class="deals grid-row-col-1">
      <li class="clearfix grid-unit" ng-repeat="deal in nearbyDeals = (deals | filter: {nearby:true} | limitTo: nearbyLimit | orderBy: 'distance')">
        <a href="http://m.retailmenot.com/showcoupon/6270822">
        <!-- "deal in bestDeals = (deals | filter: typeFilter | filter: {best:true})" -->
        <div class="logo-wrapper">
          <div class="brand-logo">
            <img ng-src="{{deal.logo}}" alt="">
          </div>
          <div class="distance">{{deal.distance}} mi</div>
        </div>
        <div class="deal-details">
          <div class="deal-type {{deal.type}}" ng-switch on="deal.type">
            <span ng-switch-when="code">Coupon Code</span>
            <span ng-switch-when="print">Printable Coupon</span>
            <span ng-switch-when="sale">Sale</span>
          </div>
          <div class="deal-info-area small-header">
            <span>{{deal.merchant}} -</span> {{deal.offer}}
          </div>
          <div class="expiration" ng-hide="!deal.expires">
            Ends {{deal.expires}}
          </div>
          <div class="popularity">
            {{deal.numberUsed}} People Used Today
          </div>
        </div>
        </a>
      </li>
    </ul>
    <div class="view-more" ng-click="nearbyLimit = nearbyLimit+4" ng-hide="nearbyLimit >= nearbyDeals.length">View More</div>
  </div>
  
</section>

<section class="padded off-white">
  <div class="container">
    <div class="value-prop clearfix">
      <div class="icon-area">
        <img src="images/coffee-cup.svg" alt="">
      </div>
      <div class="text-area">
        <div class="small-header">Still looking for deals?</div>
        <div class="small-sub-header">Try browsing our categories page</div>
      </div>
      <div class="chevron">
        <img src="images/chevron.svg" alt="">
      </div>
    </div>
  </div>
</section>
